/* Sponsors.css */
.text-purple-500 {
    color: rgb(193, 36, 193);
}

.text-white {
    color: white; /* Adjust the font size as needed */
}

.line {
    width: 20%;
    height: 1px; /* Adjust the height as needed */
    background-color: rgb(193, 36, 193); /* Purple color */
    margin-left: 16px;
}
